* {
	font-family: 'Merriweather', serif;
}

 /*Nav section*/
section.top {
	background-color: #A7D3DC;
}

.container {
	padding-top: 2em;
}

div.logo h1 {
	font-size: 1.5em;
}

section div ul li a {
	color: #000;
}

section div ul li a:hover {
	background-color: #000;
	color: #A7D3DC;
	border-radius: 0.5em;
	border: 1px solid #000;
}

section div ul li .active {
	background-color: #000;
	color: #A7D3DC;
	border-radius: 0.5em;
	border: 1px solid #000;
}

/* Attempt to make the active button do something when hovered over but the border is enlarging the element */
section div ul li .active:hover {
	background-color: #A7D3DC;
	color: #000;
	border: 1px solid #000;
	border-radius: 0.5em;
}

/*Carousel section*/
.carousel-inner {
	height: 30em;
	padding-top: 10em;
}

.carousel-inner .carousel-item {
		width: 60em;
		padding-left: 40em;
}

.carousel-inner .carousel-item h3 {
	font-size: 2.5em;
	padding-right: 5em;
	padding-bottom: 2.3em;
}

/* ---- Finished top section --- */

/* ---- White section ---- */
section.white {
	background-color: #FFF;
}

.white .col-md-4 {
	text-align: center;
	padding-top: 5em;
}

.white .col-md-4 img {
	height: 8em;
}

.white .col-md-4 h3 {
	padding-top: 2em;
}

.white .col-md-4 p {
	padding-top: 2em;
	padding-bottom: 3em;
}

/* ---- Green Section ---- */ 
section.green {
	background-color: #99D2A5;
}

.green .container {
	padding-top: 4em;
}

.green .col-md-4 {
	text-align: center;
}

.green h2 {
	color: #FFF;
	font-size: 2.6em;
}

.green p {
	color: #FFF;
	font-size: 0.6em;
	padding-bottom: 4em;
}

.green .col-md-auto h3 {
	color: #FFF;
	font-size: 1em;
	border: 1px solid #99D2A5;
	border-radius: 0.5em;
	height: 2.5em;
	padding: 1em;
	padding-bottom: 2em;
	margin-bottom: 4em;
}

.green .col-md-auto h3:hover {
	border: 1px solid #FFF;
}

.green .col-md-auto h3:active {
	border: 1px solid #FFF;
	color: #99D2A5;
	background-color: #FFF;
}

.green .col-md-4 img {
	height: 12em;
	margin-bottom: 4em;
}

.green .col-md-auto h4 {
	color: #99D2A5;
	background-color: #FFF;
	font-size: 1em;
	height: 3em;
	width: 9em;
	padding: 1em;
	border: 1px solid #FFF;
	border-radius: 0.5em;
	margin-top: 2.8em;
	margin-bottom: 6em;
}

.green .col-md-auto h4:hover {
	color: #FFF;
	background-color: #99D2A5;
}

