* {
	font-family: 'Merriweather', serif;
}

 /*Nav section*/
section.top {
	background-color: #A7D3DC;
}

.container {
	padding-top: 2em;
}

div.logo h1 {
	font-size: 1.5em;
}

section div ul li a {
	color: #000;
}

section div ul li a:hover {
	background-color: #000;
	color: #A7D3DC;
	border-radius: 0.5em;
	border: 1px solid #000;
}

section div ul li .active {
	background-color: #000;
	color: #A7D3DC;
	border-radius: 0.5em;
	border: 1px solid #000;
}

/* Attempt to make the active button do something when hovered over but the border is enlarging the element */
section div ul li .active:hover {
	background-color: #A7D3DC;
	color: #000;
	border: 1px solid #000;
	border-radius: 0.5em;
}

/*Carousel section*/
.carousel-inner {
	height: 30em;
	padding-top: 10em;
}

.carousel-inner .carousel-item {
		width: 60em;
		padding-left: 40em;
}

.carousel-inner .carousel-item h3 {
	font-size: 2.5em;
	padding-right: 5em;
	padding-bottom: 2.3em;
}

/* ---- Finished top section --- */

/* ---- White section ---- */
section.white {
	background-color: #FFF;
}

.white .col-md-4 {
	text-align: center;
	padding-top: 5em;
}

.white .col-md-4 img {
	height: 8em;
}

.white .col-md-4 h3 {
	padding-top: 2em;
}

.white .col-md-4 p {
	padding-top: 2em;
	padding-bottom: 3em;
}

/* ---- Green Section ---- */ 
section.green {
	background-color: #99D2A5;
}

.green .container {
	padding-top: 4em;
}

/* Green Section Header */
.green .col-md-4 {
	text-align: center;
}

.green h2 {
	color: #FFF;
	font-size: 2.6em;
}

.green p {
	color: #FFF;
	font-size: 0.6em;
	padding-bottom: 4em;
}

/* Green Section Nav Links */
.green .col-md-auto h3 {
	color: #FFF;
	font-size: 1em;
	border: 1px solid #99D2A5;
	border-radius: 0.5em;
	height: 2.5em;
	padding: 1em;
	padding-bottom: 2em;
	margin-bottom: 4em;
}

.green .col-md-auto h3:hover {
	border: 1px solid #FFF;
}

.green .col-md-auto h3:active {
	border: 1px solid #FFF;
	color: #99D2A5;
	background-color: #FFF;
}

/* Green Section Image Gallery */ 
.green .col-md-4 img {
	height: 12em;
	margin-bottom: 4em;
}

/* Green Section Show More Button */
.green .col-md-auto h4 {
	color: #99D2A5;
	background-color: #FFF;
	font-size: 1em;
	height: 3em;
	width: 9em;
	padding: 1.5em 0 2.5em 1em;
	border: 1px solid #FFF;
	border-radius: 0.5em;
	margin-top: 2.8em;
	margin-bottom: 6em;
}

.green .col-md-auto h4:hover {
	color: #FFF;
	background-color: #99D2A5;
}

/* ---- Grey Section ---- */

section.grey {
	background-color: #F0F0F0;
}

.grey .container {
	padding: 2em 0;
}

.grey .container .row {
	margin: 4em 0 4em 0;
}

.grey .col-md-8 h3 {
	padding-bottom: 0.5em;
}

.grey .col-md-8 p, .grey .col-md-8 button {
	padding-bottom: 1em;
}

.grey .col-md-8 p {
	color: #626065;
}

/* Grey Section Buttons */
.grey .col-md-8 .btn-1 {
	color: #FFF;
	background-color: #99D2A5;
	border: 1px solid #99D2A5;
	border-radius: 0.5em;
	font-size: 1em;
	height: 3em;
	width: 9em;
	padding: 1.5em 0 2.5em 1em;
}

.grey .col-md-8 .btn-2 {
	color: #FFF;
	background-color: #A7D3DC;
	border: 1px solid #A7D3DC;
	border-radius: 0.5em;
	font-size: 1em;
	height: 3em;
	width: 9em;
	padding: 1.5em 0 2.5em 1em;
}

.grey .col-md-8 .btn-1:hover {
	color: #99D2A5;
	background-color: #FFF;
}

.grey .col-md-8 .btn-2:hover {
	color: #A7D3DC;
	background-color: #FFF;
}

/* ---- Pink Section ---- */
section.pink {
	background-color: #DEB5C5;
}

.pink .container {
	padding-top: 4em;
}

/* Pink Section Header */
.pink .col-md-6, .pink .col-md-4 {
	text-align: center;
}

.pink h2 {
	color: #FFF;
	font-size: 2.6em;
}

.pink .mx-auto p {
	color: #FFF;
	font-size: 0.6em;
	padding-bottom: 4em;
}

/* Pink Section Images */
.pink figure {
	padding-bottom: 5em;
}

.pink figure .sam {
	height: 14.5em;
}

.pink figcaption {
	background-color: #FFF;
	height: 19em;
}

.pink figcaption h4 {
	color: #000;
	padding: 1em 0 0.5em 0;
}

.pink figcaption h6 {
	color: #000;
	font-size: 1em;
}

.pink figcaption p {
	padding: 1em 0;
}

/* Pink Section Social Media Links */
.pink figcaption i {
	margin: 0 0.2em;
}

.pink figcaption .fa {
	padding: 0 1.1em 1.1em 0.2em;
	height: 1em;
	width: 0.5em;
	font-size: 3em;
	color: #FFF;
	border-radius: 2em;
}

.pink figcaption .fa-facebook {
	background-color: #303CA2;
}

.pink figcaption .fa-twitter {
	background-color: #329FE0;
}

.pink figcaption .fa-pinterest {
	background-color: #BF314A;
}

/* ---- Blue Section ---- */
section.blue {
	background-color: #B5D5E2;
}

.blue .container {
	padding-top: 4em;
}

/* Blue Section Header */
.blue .col-md-6, .blue .col-md-4 {
	text-align: center;
}

.blue h2 {
	color: #FFF;
	font-size: 2.6em;
}

.blue .mx-auto p {
	color: #FFF;
	font-size: 0.6em;
	padding-bottom: 4em;
}

/* Blue Section Images */
.blue figcaption {
	background-color: #FFF;
	height: 14em;
}

.blue figcaption h4 {
	color: #000;
	padding-top: 1em;
}

.blue figcaption p {
	padding: 1em 0;
}

.blue .col-md-auto h4 {
	color: #B5D5E2;
	background-color: #FFF;
	font-size: 1em;
	height: 3em;
	width: 9em;
	padding: 1.5em 0 2.5em 1em;
	border: 1px solid #FFF;
	border-radius: 0.5em;
	margin-top: 2.8em;
	margin-bottom: 6em;
}

.blue .col-md-auto h4:hover {
	color: #FFF;
	background-color: #B5D5E2;
}

